body {
  font-family: "";
  background-color: #fffcf5;
}

*{
  font-family: 'Poppins';
}

.sidenav {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(10deg, #e67399, #f2a640);
  background-position-x: 10px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  word-spacing: 10px;
  color: #f2a640;
}

h1 {
  color: #4e0250;
  -webkit-text-stroke: whitesmoke 2px;
  font-size: 4rem;
  letter-spacing: -4px;
  background-image: linear-gradient(45deg, #e67399, #f2a640);
  background-position-x: 10px;
  background-position: center;
  background-size: 22% 30%;
  background-repeat: no-repeat;
  transition: transform .2s;
}

h1:hover {
  transform: rotate(5deg);
}

.content {
  width: 20%;
  height: fit-content;
  position: fixed;
  z-index: 1;
  right: 0.5%;
  bottom: 1%;
  background-color: #faecf6;
  overflow-x: hidden;
  word-spacing: 2px;
  color: #340144;
}

a {
  color: #340144;
  font-weight: bold;
  text-decoration: none;
}